<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<title>Burger Me</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body class = "background">
		<div class="container">
			{{{ body }}}
		</div>
	</body>
</html>
